<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="navbar-text pull-right">
  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>
    <%= link_to 'User Edit Profile', edit_user_registration_path, :class => 'navbar-link'%> | 
    <%= link_to 'User Logout', destroy_user_session_path, method: :delete,:class => 'navbar-link'%>
  <% else %>
    <%= link_to 'User sign up', new_user_registration_path, :class => 'navbar-link' %> | 
    <%= link_to 'User login', new_user_session_path, :class => 'navbar-link' %>
  <% end %><br>
  <% if admin_signed_in? %>
    Logged in as <strong><%= current_admin.email %></strong>
    <%= link_to 'Admin Edit Profile', edit_admin_registration_path, :class => 'navbar-link'%> | 
    <%= link_to 'Admin Logout', destroy_admin_session_path, method: :delete,:class => 'navbar-link'%>
  <% else %>
    <%= link_to 'Admin sign up', new_admin_registration_path, :class => 'navbar-link' %> | 
    <%= link_to 'Admin login', new_admin_session_path, :class => 'navbar-link' %>
  <% end %>
</p>

<% if notice %>
  <p class="alert alert-success">
    <%=notice%>
  </p>
<% end %>
<% if alert %>
  <p class="alert alert-danger">
    <%= alert %>
  </p>
<% end %>
<%= yield %>

</body>
</html>
